/* Estilos para la barra lateral */
.container {
  position: relative;
}

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  color: rgb(0, 0, 0);
  z-index: 0; /* Barra lateral está debajo del contenido */
}

.content {
  position: absolute; 
  top: 0;
  left: 0;
  right: 0;
  padding: 20px;
  z-index: 1; /* El contenido está por encima de la barra lateral */
}

.sidebar h2 {
  margin-top: 0;
  color:black;
}

/* Estilo para los elementos de la lista de navegación */
.sidebar nav ul {
  list-style-type: none; /* Elimina los puntos de las listas */
  padding-left: 0;
}

.sidebar nav ul li {
  margin: 10px 0; /* Espaciado entre los elementos de la lista */
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sidebar nav ul li svg {
  margin-right: 10px; /* Espaciado entre el icono y el texto */
  width: 20px;
  height: 20px;
}

/* Estilo para hacer que el contenido principal no quede debajo de la barra lateral */

.links{text-decoration: none;
color: black;}
