<div class="work-controls">
  <!-- Jornada Section -->
  <div class="timeline-block">
    <!-- Botón "Empezar" / "Trabajando" -->
    <button class="dark-btn" (click)="startWork()">{{ botonTrabajoTexto }}</button>
    <div class="timeline">
      <div class="timeline-labels">
        <span>Inicio Jornada</span>
        <span>Fin Jornada</span>
      </div>
      <div class="timeline-line">
        <progress [value]="workProgress" [max]="workHours * 3600" class="progres"></progress>
      </div>
      <p class="timeline-desc">Al pulsar el botón empieza tu jornada, una vez finalizada se termina automáticamente y salta una notificación.</p>
    </div>
  </div>

  <!-- Pausa Section -->
  <div class="timeline-block">
    <!-- Botón "Pausa" / "Descansando" / "Reanudar" -->
    <button class="dark-btn" (click)="startBreak()">{{ botonPausaTexto }}</button>
    <div class="timeline">
      <div class="timeline-labels">
        <span>Inicio pausa</span>
        <span>Fin pausa</span>
      </div>
      <div class="timeline-line">
        <progress [value]="breakProgress" [max]="breakHours * 3600" class="progres"></progress>
      </div>
      <p class="timeline-desc">Tiempo utilizado para la pausa.</p>
    </div>
  </div>
</div>

