
<div class="complete">
<div class="work-time">
  <div>
    <i class="icon">⏳</i>
    <h2>8</h2>
    <p>Tiempo de trabajo</p>
  </div>
</div>

<div class="pause-time">
    <i class="icon">⏰</i>
    <h2>1</h2>
    <p>Tiempo de pausa</p>
</div>
<!-- Controles de jornada -->
<div class="work-controls">
  <button class="start-button">Empezar</button>
  <div class="progress-bar">
    <span>Inicio Jornada</span>
    <div class="bar"><div class="progress"></div></div>
    <span>Fin Jornada</span>
  </div>
  <button class="pause-button">Pausa</button>
  <div class="progress-bar">
    <span>Inicio pausa</span>
    <div class="bar"><div class="progress pause"></div></div>
    <span>Fin pausa</span>
  </div>
  </div>
</div>
