body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #ffffff;
}

.flex-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 40px;
  flex-direction: column;
}

.container-data {
  text-align: left;
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  flex-direction: column;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
}

.card {
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  padding: 15px;
  width: 300px;
  text-align: center;
}

.card-separator {
  width: 100%;
  border: none;
  border-top: 1px solid #ccc;
  margin: 1rem 0;
}

.reunion-list {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.reunion-item {
  margin: 1rem 0;
  font-size: 1rem;
}

.reunion-content {
  display: flex;
  align-items: center;
  gap: 10px;
}

.reunion-icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  fill: #007AFF;
  margin-bottom: 45px;
}

.reunion-text {
  text-align: left;
  flex-grow: 1;
}

.reunion-title {
  margin: 0;
  font-weight: 500;
  font-size: 1rem;
}

.reunion-datetime {
  color: #666;
  font-size: 0.9rem;
}
