body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #ffffff;
  }

  .flex-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 40px;
  flex-direction: column;
}

.container-data {
    text-align: left;
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    flex-direction: column;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
  }